* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #bc6c25;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

footer {
  text-align: center;
  margin-top: auto;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.note-area {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 250px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #bc6c25;
  border: none;
  width: fit-content;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: none;
  font-size: 2rem;
}

.note button:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}

form.create-note {
  position: relative;
  width: 50%;
  margin: 15px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #bc6c25;
  font-size: 2rem;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form.create-note button:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}

@media screen and (max-width: 780px) {
  .note-area {
    flex-direction: column;
  }

  .note {
    width: 300px;
    font-size: 1.5rem;
  }
  form.create-note input,
  form.create-note textarea {
    font-size: 1.5rem;
  }
  form.create-note {
    width: 100%;
  }
}
